<appSettings>
	<!-- Azure App MS Graph config: -->
	<add key = "tenantId" value = "00000000-0000-0000-0000-000000000000" />
	<add key = "clientId" value = "00000000-0000-0000-0000-000000000000" />
	<!-- byClientSecret: -->
	<add key = "clientSecret" value = "--qwertyuiopasdfghjklzxcvbnm0123456789--" />
	<!-- byCertificatePath: -->
	<add key = "ertificatePath" value = "*.pfx" />
	<add key = "certificatePass" value = "password" />
	<!-- byCertificateThumbprint: -->
	<add key = "certificateThumbp1rint" value = "QWERTYUIOPASDFGHJKLZXCVBNM0123456789QWER" />
</appSettings>